{%extends "base.html"%}
{%block content1%}

<div class="row">
    <div class="list_employee mt-2">
        <h3 class="text-center"> {{project.title}}</h3>
        <p> Title: {{project.title}}</p>
        <p> Description: {{project.description}}</p>
        <p> Start Date: {{project.start_date}}</p>
        <p> End Date: {{project.end_date}}</p>
        <p> Assigned To: 
      {% for employee in project.employees_assigned.all%}
       <ul>
        <li>{{employee.name}}</li>
       </ul></p>
      {% endfor %}
     </div>


</div>

{%endblock content1%}