.navbar-brand {
    font-size: 25px;
}
.navbar-nav .nav-link{
    font-size: 15px;
}
.navbar-nav .nav-link:hover{
    font-weight: bold;
    color: rgb(46, 235, 29);
}

.list_employee{
    background-color: rgb(168, 212, 212);
    padding: 20px;
}

.errorstyle{
    color:red;
}

.list_employee{
    padding:20px;
    border-radius:10;
}